In [1]:
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
import re
import string
import pandas as pd

In [2]:
engine = create_engine('bigquery://us-gcp-ame-con-52dbb-sbx-1')

/tmp/ipykernel_2977/111781775.py:1: SADeprecationWarning: The dbapi() classmethod on dialect classes has been renamed to import_dbapi().  Implement an import_dbapi() classmethod directly on class <class 'sqlalchemy_bigquery.base.BigQueryDialect'> to remove this warning; the old .dbapi() classmethod may be maintained for backwards compatibility.
  engine = create_engine('bigquery://us-gcp-ame-con-52dbb-sbx-1')

In [3]:
from modules.validation_module import DataValidator

In [4]:
dv = DataValidator(engine,schema_name='test_datasets',table_name='sample_data_gdrive')

In [5]:
target_attribute='brand'

In [8]:
completeness_results = dv.is_complete(uids=['asin'],target_attribute=target_attribute)

In [9]:
completeness_results

         asin TARGET_ATTRIBUTE_catalog_value
0  B003AYVG1U                           None
1  B00BI3BGBA                           None
2  B00DIV7I0I                           None

In [10]:
validity_results1 = dv.is_text(uids=['asin'],target_attribute='brand')

In [11]:
validity_results1

Empty DataFrame
Columns: [asin, TARGET_ATTRIBUTE_catalog_value]
Index: []

In [12]:
validity_results1 = dv.is_text(uids=['asin'],target_attribute='brand',min_char=1,max_char=40)

In [13]:
validity_results1

         asin                     TARGET_ATTRIBUTE_catalog_value
3  B010Q32SLY  Not all coconut waters are created equal. C2O ...

In [5]:
validity_results2 = dv.is_number(uids=['asin'],
                                target_attribute='price',
                                min_digits=1, 
                                max_digits=9, 
                                int_only='False', 
                                non_zero=True, 
                                non_negative=True)

In [6]:
validity_results2

Empty DataFrame
Columns: [asin, TARGET_ATTRIBUTE_catalog_value]
Index: []

In [18]:
validity_results3 = dv.is_formated(uids=['asin'],target_attribute='price',regex='\$([0-9]+(\.[0-9][0-9])?)')

In [19]:
validity_results3

             asin                                              price
0      B00TSHG4OC
1      B019Z6KN8S
2      B00SX1T7RU
3      B00V1P6PCK
4      B00X7SIXGU
...           ...                                                ...
10808  B00WS2NPLO  .a-section,.amazon_yum_pantry.burj-body .burj ...
10809  B00099XPP4  .a-section,.amazon_yum_pantry.burj-body .burj ...
10810  B019FCW6CI  .a-section,.amazon_yum_pantry.burj-body .burj ...
10811  B00119QOWW  .a-section,.amazon_yum_pantry.burj-body .burj ...
10812  B00WS2OHVQ  .a-section,.amazon_yum_pantry.burj-body .burj ...

[4109 rows x 2 columns]